header,
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 100px;
    padding:10px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
 button:hover{
      letter-spacing:1px;
 }
